<h1>Mars Rover</h1>

<p>
    <pre><%= @output %></pre>
</p>

<form action="/marsrover" method="post">
  <input type="text" name="instructions" value="<%= @instructions %>">
  <input type="submit">
</form>