<div style="margin: 30px 20px 10px 50px">
  <h1>Mars Rover</h1>

  <p>
      <pre><%= @output %></pre>
  </p>
</div>

<form action="/marsrover" method="post">
  <input type="text" name="instructions" value="<%= @instructions %>">
  <input type="submit">
</form>